* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* common */

.btn {
    display: inline-block;
    min-width: 144px;
    text-align: center;
    padding: 17px 15px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.6rem;
    color: #FFFFFF;
    background: #171100;
    border-radius: 24.5px;
}

.btn.active {
    background: #FFB900;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* =============== Header =============== */
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0 8px;
}

.navbar ul {
    display: flex;
    gap: 42px;
    margin-right: 70px;
    margin-left: auto;
}

.navbar ul a {
    position: relative;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}

.navbar ul li a:hover,
.navbar ul li.active a {
    font-family: 'Poppins';
    font-size: 1.6rem;
    color: #171100;
}

.navbar ul li.active a::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    bottom: -2px;
    left: 1px;
}

/* ============= Hero ============= */

.hero {
    background: #FFFCF4;
    padding: 56px 0 65px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .media-block {
    position: relative;
    width: 40%;
}

.hero .media-block .hero-img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.content-summary {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px;
}

.hero .hero-summary {
    width: 270px;
    height: 244px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    bottom: 48px;
    right: -100px;
}


.hero .item {
    display: flex;
    align-items: center;
}

.hero .item .info {
    margin-left: 16px;
}

.info .sub-title {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.info .course {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block {
    margin-left: auto;
    width: 40%;
} 
.hero .title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
} 

.hero .desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
    margin-top: 22px;
    margin: 22px 0 38px;
}

.hero .hero-cta {
    display: flex;
    align-items: center;
}

.hero .play-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: #FFFCF4;
    cursor: pointer;
}

.hero .circle-btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    margin-right: 14px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .play-btn {
    position: absolute;
    display: inline-block;
    content: "";
    border-color: transparent transparent transparent #FFB900;
    border-width: 8px 10px;
    border-style: solid;
    top: calc(50% - 8px);
    left: calc(50% - 3px);
}

.hero .play-video .text-btn {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.btn-hero {
    background: #FFB900;
    min-width: 180px;
    padding: 24px 15px;
    border-radius: 32px;
}

.hero .engagement {
    margin: 48px 0 8px;
}

.hero .engagement span {
    display: flex;
    gap: 28px;
}

.hero .engagement strong {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    margin-right: 4px;
}

/* ============ popular ================ */

.popular {
    padding: 200px 0;
}

.popular .wrap {
    max-width: 458px;
}

.popular .row-popular {
    display: flex;
    align-items: center;
}

.popular .icon {
    margin-left: auto;
}

.popular-title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular .desc {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

/* ============ list item ============= */

.popular .list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .item {
    flex: 1;
    background: #FFFFFF;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.popular .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .body {
    padding: 16px 20px 20px;
}

.popular .star {
    margin-left: auto;
}

.popular .title-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .desc-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
    margin: 6px 0 12px;
}

.popular .btn {
    margin-left: auto;
    min-width: 118px;
}


.popular .number-star {
    position: relative;
    top: -2px;
    right: -1px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FEA31B;
}

/* ========== comment ============= */

.comment {
    padding: 96px 0;
    background: #2E2100;
}


.comment .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.comment .name {
    margin-top: 18px;
    font-family: 'Sen';
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #F7F7F7;
}

.comment .desc {
    margin-top: 4px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB3;
}

.comment .icons {
    margin-top: 28px;
    display: flex;
    gap: 6px;
    align-items: center;
}

.comment .icon {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.comment .icon::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 9px;
    height: 12px;
    top: -4px;
}

.comment .icon.active {
    background: #FFB900;
}

.comment .row-cmt {
    display: flex;
    justify-content: space-between;
}

.comment .wrap-msg {
    width: 67%;
    position: relative;
}

.comment .msg {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;
}

.comment .icon-msg {
    position: absolute;
    left: -30px;
    top: -26px;
}

/* ========= feature ============ */

.feature {
    padding: 200px 0;
}

.feature .feature-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature .feature-row:last-child {
    margin-top: 215px;
}

.feature .column-left {
    position: relative;
    width: 48.7%;
}

.feature .column-right {
    width: 40.5%;
}

.feature .wrap-img-top {
    display: flex;
    justify-content: space-between;
}

.feature .img-top {
    max-width: 270px;
    object-fit: cover;
    border-radius: 16px;
}

.feature .img-bot {
    max-width: 470px;
    object-fit: cover;
    border-radius: 20px;
}

.feature .img-top:first-child {
    transform: translateY(15px);
}

.feature .img-top:last-child {
    margin-left: auto;
    transform: translateY(-15px);
}

.feature .title {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.feature .desc, .feature .sub {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
    margin-top: 16px;
}

.feature .btn-feature {
    min-width: 137px;
    background: #FFB900;
    border-radius: 26px;
    margin-top: 32px;
}

/* ========= blog =========== */

.blog {
    padding: 96px 0;
    background: #FFFCF4;
}

.blog .header {
    margin: 0 auto;
    max-width: 448px;
}

.blog .sub-title {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    text-align: center;
    letter-spacing: -0.02em;
    color: #130606;
}

.blog .desc {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #696262;
    margin-top: 16px;
}

.blog .list {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.blog .item {
    max-width: 31.6%;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    overflow: hidden;
}

.blog .img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.blog .content {
    margin: 20px 20px 28px;
}

.blog .date {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.blog .info {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .btn-blog {
    min-width: 118px;
    font-size: 14px;
    margin-top: 12px;
}